*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.hidden{
    display: none;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500; 
}

.bg-container{
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-container{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    padding: 2px 15px;
}

.bg-navbar{
    display: flex;
    justify-content: space-between;
}

.bg-nav-left{
    display: flex;
    align-items: center;
    gap: 25px;
}

.ham-menu{
    font-size: 20px;
}

.bg-nav-img{
    height: 23px;
}

.bg-nav-mid{
    display: none;
}

.bg-nav-right{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
}

.ellipsis-menu , .search , .microphone , .profile{
    font-size: 20px;
}

.nav-right-para{
    height: 6vh;
    border: 1px solid black;
    border-radius: 24px;
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}


/* Hero Section Left - Side */

.hero-section{
    display: flex;
    gap: 10px;
}

.hero-section-left{
    height: 100vh;
    width: 60vw;
    background-color: white;
    position: fixed;
    top: 0%;
    padding: 4px 10px;
    z-index: 1000;
    overflow-y: scroll;
}

.hero-section-left-top{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.bg-left-content{
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4.5vh;
    width: 90%;
    gap: 25px;
    padding: 4px 10px;
    margin: 15px 0px;
}

.active{
    background-color: #efebf0;
}

.bg-left-content-icon{
    font-size: 1.3em;
    margin-bottom: 1px;
}

.bg-left-content-head{
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
}

.bg-left-content-hr{
    max-width: 96%;
    width: 96%;
    background-color: grey;
    margin-top: 2vh;
    margin-left: auto;

}

.hero-section-ham-menu{
    font-size: 20px;
}

.hero-section-img{
    height: 25px;
}

.hero-section-mid{
    display: none;
}

.hero-section-right{
    height: 100vh;
}

/* Category Section */

.bg-category{
    height: 6vh;
    width: 100%;
    margin-top: 9vh;
    background-color: white;
    padding: 1px 10px;

    display: flex;
    align-items: center;
    gap: 12px;
    overflow: scroll;
    scrollbar-width: none;
    position: fixed;
}

.bg-category a{
    text-decoration: none;
    background-color: #E8EDEB;
    color: black;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 500;
    display: flex;
}

/* Video Container */

.videos-container{    
    padding-top: 17vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;   
}

.video-section{
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
}

.video-section-details{
    padding: 5px;
}

.video-section-image{
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 12px;
}

.video-section-logo{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    object-fit: cover;
}

.video-section-details{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.video-section-description{
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 80%;
} 

.video-section-head{
    font-size: 1em;
    color: black;
}

.video-section-description{
    color: grey;
    font-size: 0.9em;
}

.first-video{
    display: none;
}

.second-video{
    display: none;
}

.second-videos-container{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;   
    padding-top: 5vh;
}

@media (min-width:572px){
    .video-section{
        width: 45%;
        max-width: 45%;
    }

    .first-video{
        display: block;
    }

}

@media (min-width:962px){
    .video-section{
        width: 30%;
        max-width: 30%;
    }

    .second-video{
        display: block;
    }

}

.shorts-container-logo{
    padding: 10px 0px 0px 25px;
}

.shorts-container-img{
    height: 40px;
    width: 80px;
}

.shorts-container{
    width: 95vw;
    margin: auto;
    display: flex;
    gap: 10px;
    padding-top: 10px;
}


.short-container{
    width: 46vw;
    height: auto;
    object-fit: cover;
}

.short-container-img{
    max-width: 46vw;
    height: auto;
    border-radius: 8px;
}

.first-short , .second-short ,.third-short{
    display: none;
}

@media (min-width:572px){
    
    .short-container{
        width: 30vw;
    }

    .short-container-img{
        width: 30vw;
    }

    .first-short{
        display: block;
    }

}

@media (min-width:657px){
    .search , .microphone{
        display: none;
    }

    .bg-nav-mid{
        display: flex;
        align-items: center;
    }

    .bg-nav-mid-search-container{
        display: flex;
    }


    .bg-nav-mid-search-field{
        width: 8vw;
        height: 6vh;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        padding: 1px 0px 0px 10px;
        font-size: 1.2em;
    }

    .bg-nav-mid-search-box{
        width: 7vw;
        height: 6vh;
        background-color: #E8EDEB;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        
    }

    .search-bar{
        font-size: 20px;
    }

}

@media (min-width:680px){
        
    .bg-nav-mid-search-field{
        width: 12vw;
    }

}

@media (min-width:700px){
        
    .bg-nav-mid-search-field{
        width: 16vw;
    }

}

@media (min-width:720px){
        
    .bg-nav-mid-search-field{
        width: 20vw;
    }

}

@media (min-width:740px){
        
    .bg-nav-mid-search-field{
        width: 24vw;
    }

}

@media (min-width:770px){
        
    .bg-nav-mid-search-field{
        width: 28vw;
    }

}

@media (min-width:790px){

    /* Hero Section */

    .hero-section-mid{
        width: 8vw;
        height: 100vh;
        background-color: white;
        position: fixed;
        margin-top: 10vh;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .fonts{
        font-size: 25px;
    }

    .hero-section-right{
        margin-left: 7vw;
        width: 90vw;
    }

    .short-container{
        width: 28vw;
        padding-left: 20px;
    }

    .short-container-img{
        width: 28vw;
    }

    .hero-section-mid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 8px;
    }

    .hero-section-mid-container p{
        font-size: 0.8em;
    }

    

    .bg-nav-mid-search-field{
        width: 30vw;
    }
}

@media (min-width:962px){

    .shorts-container{
        gap: 10px;
    }

    .short-container{
        width: 17vw;
    }

    .short-container-img{
        width: 17vw;
    }

    .second-short{
        display: block;
    }    

    .third-short{
        display: block;
    }

    .bg-nav-mid-search-field{
        width: 36vw;
    }

    .bg-nav-mid-search-box{
        width: 5vw;
    }

    .hero-section-mid{
        width: 7vw;
    }

    .fonts{
        font-size: 25px;
    }

    .hero-section-right{
        margin-left: 6vw;
        width: 91vw;
    }

}

@media (min-width:1000px){
        
    .bg-nav-mid-search-field{
        width: 40vw;
    }

    .bg-nav-mid-search-box{
        width: 4vw;
    }

}

@media (min-width:1100px){
    
    .hero-section-mid{
        width: 4vw;
    }

    .hero-section-right{
        margin-left: 5vw;
        width: 94vw;
    }

    .shorts-container{
        gap: 20px;
    }
}
