*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.hidden{
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500; 
}

.bg-container{
    max-height: 100vh;
    overflow: auto;
}

.nav-container{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    padding: 2px 15px;
}

.bg-navbar{
    display: flex;
    justify-content: space-between;
}

.bg-nav-left{
    display: flex;
    align-items: center;
    gap: 25px;
}

.ham-menu{
    font-size: 20px;
}

.bg-nav-img{
    height: 23px;
}

.bg-nav-mid{
    display: flex;
    align-items: center;
}

.bg-nav-right{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
}

.ellipsis-menu , .search , .microphone , .profile{
    font-size: 20px;
}

.hide{
    display: none !important;
}

.nav-right-para{
    height: 6vh;
    border: 1px solid black;
    border-radius: 24px;
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}


/* Hero Section Left - Side */

.hero-section-left{
    height: 100vh;
    width: 60vw;
    background-color: white;
    position: fixed;
    top: 0%;
    padding: 4px 10px;
    z-index: 1000;
}

.hero-section-left-top{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.hero-section-ham-menu{
    font-size: 20px;
}

.hero-section-img{
    height: 25px;
}

.hero-section-right{
    height: 100vh;
}

/* Category Section */

.bg-category{
    height: 6vh;
    width: 100%;
    margin-top: 9vh;
    background-color: white;
    padding: 1px 10px;

    display: flex;
    align-items: center;
    gap: 12px;
    overflow: scroll;
    scrollbar-width: none;
    position: fixed;
}

.bg-category a{
    text-decoration: none;
    background-color: #E8EDEB;
    color: black;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 500;
    display: flex;
}
